//    VARS    //


//    Media
$xsml: "only screen and (min-width : 320px)";
$sml: "only screen and (min-width : 360px)";
$med: "only screen and (min-width : 768px)";
$lrg: "only screen and (min-width : 1024px)";
$xlrg: "only screen and (min-width : 1400px)";