//    VARS    //
//    Sizes
$font-size-base: 16px;
$font-size-small: calc(16px * .875);
$font-size-extra-small: calc(16px * .75);
$font-size-large: 20px;

//    Colors
$text: hsla(0, 0%, 23%, 1);

// Category Colors
$category : (
	business: #1565c0,
	marketing: #ba68c8,
	lifestyle: #9ccc65,
	creativity: #ffc400
);


//    Media
$xsml: "only screen and (min-width : 320px)";
$sml: "only screen and (min-width : 360px)";
$med: "only screen and (min-width : 768px)";
$lrg: "only screen and (min-width : 1024px)";
$xlrg: "only screen and (min-width : 1400px)";